/* 
    Created on : Mar 27, 2019, 7:30:05 PM
    Author     : wmscottsimpsonjr
*/

#helmet {
    text-align: center;
}

.gallery {
	padding-top: 1em;
}

.gallery img {
	width: 32%;
	padding: 3px;
}

li a {
    color: #43a554;
}