/* authors: Scott Simpson, Ben Raber */

html {
  font-size: 16px; }

html, a, article, body, div, figure, footer, header, h1, audio,
h2, h3, img, li, nav, p, section, ul, fieldset, input, label, legend, textarea, .pingpongimages {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0; }

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Verdana,Arial,sans-serif; }

header {
  padding-top: 2em;
  text-align: center;
  color: #43a554;
  font-size: 18px; }

article {
  margin: 2em;
  color: #43a554; }
  
h2 {
	padding-bottom: 15px;
}


.container {
  /* max-width 1920px*/
  margin: 0 auto;
  position: relative;
  background-color: #FFFFFF;
  background: url("../images/bg.jpg");
  background-attachment: fixed;
  background-size: cover; }

.container2 {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  background-color: #FFFFFF;
  min-height: 100vh; }

a:link {
  color: #6d6d6d;
  text-decoration: none; }

a:hover {
  color: #ff6a00; }

a:active {
  color: #4cff00; }


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px; }

.fa:hover {
  opacity: 0.7; }

.fa-facebook {
  background: #3B5998;
  color: white; }

.fa-instagram {
  background: #125688;
  color: white; }

footer {
  font-size: 14px;
  text-align: center;
  text-decoration: none;
color: #9e9e9e; }