/* author: Scott Simpson */

.ordertitle {
	font-weight: bold;
	color: green;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* removes mysterious white border for jsp
.container {
    position: relative;
    margin-top: -22px;
}
*/
 
.buttonholder {
    text-align: center;
}

#submit {
	border: 0px;
	text-align: center;
        font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
	display: inline-block;
	padding: 5px;
	border-radius: 4px;
	margin-top: 1em;
        background-color: #43a554;
}

#submit:hover {
	background-color: #ff6a00;
	
}

#submit:active {
    background-color: #898989;
}

input[type="radio"] {
  margin-right: 4px;
}

/*only needed for CC test: */
input[type="text"] {
    border: 1px solid black;
    width: 200px;
    text-align: left;
    color: black;
    font-size: 16px;
    font-family: Montserrat,Verdana,Arial,sans-serif;
}
#testCC {
	border: 0px;
	text-align: center;
        font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
	display: inline-block;
	padding: 5px;
	border-radius: 4px;
	margin-top: 1em;
        background-color: #43a554;
}

#testCC:hover {
	background-color: #ff6a00;
	
}

#testCC:active {
    background-color: #898989;
}