/*reset styles*/
html {
  font-size: 16px; }

a, article, body, div, figure, footer, header, h1, audio,
h2, h3, img, li, nav, p, section, ul, fieldset, form, input, label, legend, textarea {
  border: 0;
  padding: 0;
  margin: 0; }

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Verdana,Arial,sans-serif; }

header {
  padding-top: 2em;
  text-align: center;
  color: #43a554;
  font-size: 18px; }

article {
  padding: 2em;
  color: #000000; }

.container {
  /* max-width 1920px*/
  margin: 0 auto;
  position: relative;
  background-color: #000000;
  background: url("../images/DominguezAndrew_2017012401591_squarespace.jpg");
  background-attachment: fixed;
  background-size: cover; }

.container2 {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  background-color: #000000;
  min-height: 100vh; }

.menuname {
  color: green;
  font-weight: bold; }

a:link {
  color: #6d6d6d;
  text-decoration: none; }

a:hover {
  color: #ff6a00; }

a:visited {
  color: #9e9e9e; }

a:active {
  color: #4cff00; }

hr .menu {
  border: 1px solid #000000; }

footer {
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #9e9e9e; }
