hr .menu {
  border: 1px solid #000000; }
  
.menuname {
  color: green;
  font-weight: bold;  }

.menukey {
  text-align: right;
}  

.menudesc {
	padding-bottom:1em;
}
  
.gl {
  color: #c284c9;
  font-weight: bold;
}

.sf {
  color: #d15b57;
  font-weight: bold;
}

.nf {
  color: #ffd468;
  font-weight: bold;
}